<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8abca6">  <td>23/12/31 15:19:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.Get_executor()[pri:0, instance:TestCase_package.Get_TC1@1972e513]">Get_executor</td> 
  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="9da26d">  <td>23/12/31 15:19:33</td>   <td>-7840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.Patch_executor()[pri:0, instance:TestCase_package.Patch_TC1@43df23d3]">Patch_executor</td> 
  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="8c8e7b">  <td>23/12/31 15:19:42</td>   <td>1126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.Put_executor()[pri:0, instance:TestCase_package.Put_TC1@5e7cd6cc]">Put_executor</td> 
  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="9da26d">  <td>23/12/31 15:19:31</td>   <td>-9948</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TC1.Test_Setup()[pri:0, instance:TestCase_package.Patch_TC1@43df23d3]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="8abca6">  <td>23/12/31 15:19:31</td>   <td>-9982</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TC1.Test_Setup()[pri:0, instance:TestCase_package.Get_TC1@1972e513]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>23/12/31 15:19:42</td>   <td>872</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TC1.Test_Setup()[pri:0, instance:TestCase_package.Post_TC1@68c9d179]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="8c8e7b">  <td>23/12/31 15:19:42</td>   <td>966</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TC1.Test_Setup()[pri:0, instance:TestCase_package.Put_TC1@5e7cd6cc]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="9da26d">  <td>23/12/31 15:19:42</td>   <td>800</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TC1.Test_Teardown()[pri:0, instance:TestCase_package.Patch_TC1@43df23d3]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="8abca6">  <td>23/12/31 15:19:42</td>   <td>791</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TC1.Test_Teardown()[pri:0, instance:TestCase_package.Get_TC1@1972e513]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>23/12/31 15:19:45</td>   <td>3984</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TC1.Test_Teardown()[pri:0, instance:TestCase_package.Post_TC1@68c9d179]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="8c8e7b">  <td>23/12/31 15:19:45</td>   <td>3987</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TC1.Test_Teardown()[pri:0, instance:TestCase_package.Put_TC1@5e7cd6cc]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>23/12/31 15:19:44</td>   <td>2571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.post_executor()[pri:0, instance:TestCase_package.Post_TC1@68c9d179]">post_executor</td> 
  <td>main@106999035</td>   <td></td> </tr>
</table>
