<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="65d769">  <td>23/12/24 14:56:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.Get_executor()[pri:0, instance:TestCase_package.Get_TC1@302c971f]">Get_executor</td> 
  <td>main@1341404543</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>23/12/24 14:58:28</td>   <td>131269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.Patch_executor()[pri:0, instance:TestCase_package.Patch_TC1@2a693f59]">Patch_executor</td> 
  <td>main@1341404543</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>23/12/24 14:56:15</td>   <td>-1630</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TC1.Test_Setup()[pri:0, instance:TestCase_package.Patch_TC1@2a693f59]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1341404543</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>23/12/24 14:56:15</td>   <td>-1660</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TC1.Test_Setup()[pri:0, instance:TestCase_package.Get_TC1@302c971f]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1341404543</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>23/12/24 15:00:38</td>   <td>261510</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TC1.Test_Teardown()[pri:0, instance:TestCase_package.Get_TC1@302c971f]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1341404543</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>23/12/24 15:00:38</td>   <td>261519</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TC1.Test_Teardown()[pri:0, instance:TestCase_package.Patch_TC1@2a693f59]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1341404543</td>   <td></td> </tr>
</table>
