<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2d9cb">  <td>23/12/28 17:39:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TC1.Test_Setup()[pri:0, instance:TestClass_TestNG_FileParameterrization.Post_TC1@35841320]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@459718907</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>23/12/28 17:39:47</td>   <td>9093</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TC1.Test_Teardown()[pri:0, instance:TestClass_TestNG_FileParameterrization.Post_TC1@35841320]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@459718907</td>   <td></td> </tr>
<tr bgcolor="d2d9cb">  <td>23/12/28 17:39:40</td>   <td>1799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.post_executor(java.lang.String,java.lang.String)[pri:0, instance:TestClass_TestNG_FileParameterrization.Post_TC1@35841320]">post_executor</td> 
  <td>main@459718907</td>   <td></td> </tr>
</table>
